<div class="entry-edit">
    <div class="entry-edit-head">
        <h4><?php echo $this->getTabTitle(); ?></h4>
    </div>
    <div class="fieldset fieldset-wide">
	<?php
		$RESMSG=$this->getPaylaterResponseDetails();
	?>		 
        <b>Order Id</b> : <?php echo $this->getOrderId(); ?> <br>   
	<b>Transaction Id</b> : <?php echo $RESMSG["transn_id"]; ?> <br>   
	<b>Paylater Reference </b> : <?php echo $RESMSG["transn_id"]; ?> <br>   
	<b>Transaction Status </b> : <?php echo $RESMSG["transactionstatus"]; ?> <br>  
	<b>Transaction Time </b> :  <?php echo date("d-m-Y H:i:s",$RESMSG["post_time"]); ?><br>  
        <div><div id="sales_order_view_tabs_adminhtml_order_view_tab_query_val"></div></div> 
	<input class="scalable go" type="button" name="button" id="button" value=" Verify " onclick="<?php echo $this->getonclick(); ?>" />
	      
	 
    </div>

</div>


