<div class="page-head">
    <h3><?php echo $this->__('Paylater Payment Error') ?></h3>
</div>
<h2 class="sub-title"><?php echo $this->__('We are sorry, but your payment failed') ?></h2>
<p><?php echo $this->getErrorMessage() ?>.</p>
<p><?php echo $this->__('Please <a href="%s">continue shopping</a>.', $this->getContinueShoppingUrl()) ?></p>