<fieldset class="form-list">
    <?php $_code=$this->getMethodCode(); $logourl =  $this->getSkinUrl('images/paylaterlogo.jpg');?>
    <ul id="payment_form_<?php echo $_code ?>" style="display:none">
        <li>
            <?php echo $this->__('Pay via PayLater') ?>
           <?php echo $this->__('<br><img src="'.$logourl.'" />') ?>            
        </li>
    </ul>
</fieldset>