<div class="page-title">
    <h1><?php echo $this->__('Paylater - Payment Confirmation') ?></h1>
</div>
<h2 class="sub-title"><?php echo $this->__('Thank you, we have received your payment!') ?></h2>
<p><?php echo $this->getSuccessMessage() ?>.</p>
<p>Please note this ID as it may be used to track your payment</p>

<p><?php echo $this->__('Please <a href="%s">continue shopping</a>.', $this->getContinueShoppingUrl()) ?></p>